:root {
    --background : #fff;
    --heading-color1 : #fff;
    --heading-color2 : grey;
    --text-color : grey;
    --text-color1 : #fff;
    --input-background : whitesmoke;
}

body {
    background: var(--background);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 1rem;
}

#bars {
    font-size: 2rem;
    color: var(--text-color);
    margin-right: 1rem;
    cursor: pointer;
}

section {
    min-height: 350px;
    min-width: 100%;
}

/* ------------ Home section ------------ */

#home {
    background: url(assets/meal.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transform: skew(0deg, -3deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#desc {
    color: var(--heading-color1);
    font-size: 2.0rem;
    text-shadow: 0 0 2px lightgrey;
    transform: skew(0deg, 3deg);
    font-weight: 500;
}

/* ------------ About section ------------- */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutTopContainer {
    min-height: 150px;
    min-width: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
}

.fa-ice-cream {
    font-size: 2.5rem;
}

#aboutHeading{
    font-weight: 500;
}

#aboutBottomContainer {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.box{
    max-width: 250px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.number {
    color: var(--heading-color2);
    margin: 0.5rem  0;
    font-weight: 500;
}

.heading {
    margin: 0.5rem  0;
    font-size: 1.2rem;
    font-weight: 500;
}

.details  {
    color: var(--text-color);
    font-size: 1rem;
}

.btn {
    border: 2px solid #000;
    width: fit-content;
    margin-top: 1rem;
    padding: 0.3rem 1rem;
    background-color: var(--background);
}

.btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: transform 0.5s;
}

/* ----------- Catering ------------- */

#catering {
    background: url(assets/fries.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transform: skew(0deg, -3deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

#cateringHeading {
    color: var(--heading-color1) ;
    background: transparent;
    transform: skew(0deg, 3deg);
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

#cateringText {
    color: var(--text-color1);
    background: transparent;
    transform: skew(0deg, 2deg);
    text-shadow: 0 0px 5px grey;
}

#cateringContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    width: 40%;
    transform: skew(0deg, 3deg);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cateringBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
}

.catering-item {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.cateringItemText  {
    color: var(--text-color1);
    text-align: center;
}

#cateringImg1 {
    background:url(assets/salad2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#cateringImg2 {
    background:url(assets/seaFood.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#cateringImg3 {
    background:url(assets/sweets.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#cateringImg4 {
    background:url(assets/pizza2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/*---------------- Menu ----------------*/
#menu {
    transform: skew(0deg, -3deg);
}

.fa-book-open {
    font-size: 2.5rem;
}

#menuHeading {
    font-weight: 500;
}

#menuTopContainer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    transform: skew(0deg, 3deg);
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
}

#menuBottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    transform: skew(0deg, 3deg);
}

.menuBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 1rem;
}

#menuBox1 {
    height: 180px;
    width: 100%;
    background:url(assets/pizza.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#menuBox2 {
    height: 180px;
    width: 100%;
    background:url(assets/salad.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#menuBox3 {
    height: 180px;
    width: 100%;
    background:url(assets/desserts.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* --------------- services ---------------- */

#services {
    background: url(assets/fruits.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 12rem;
    transform: skew(0deg, -3deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#servicesHeading {
    background:transparent;
    color: var(--heading-color1);
    font-size: 2.0rem;
    text-shadow: 0 0 8px grey;
    transform: skew(0deg, 3deg);
    font-weight: 500;
}

/* ------------- Team Section --------------- */

#team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#teamTopContainer {
    height: 150px;
    width: 150px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: -2rem;
    z-index: 1;
}

#teamHeading {
    font-weight: 500;
}

#teamText  {

}

#teamBottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#teamImg1  {
    background: url('https://t3.ftcdn.net/jpg/05/06/51/46/360_F_506514612_z8oBdrajxk5eE9WlDKjliXOp3k6XqTf7.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#teamImg2  {
    background: url('https://st4.depositphotos.com/2208684/30213/i/450/depositphotos_302139812-stock-photo-portrait-shot-smiling-businessman-wearing.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#teamImg3  {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI-ycnCXMU_IhRLsRqnkOnGExWNNDFFy07Kg&s') no-repeat;
    background-position: center;
    background-size: cover;
}

#teamImg4  {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR-P4LeIu6vw7d14ej7Njbo6fMwwVDDj_KvQ&s') no-repeat;
    background-position: center;
    background-size: cover;
}

.team-name {
    margin: 0;
    font-weight: 400;
}

.team-profession {
    color: var(--text-color);
}

/* ------------ Contact Section  ------------- */

#contact  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

#contactLeftSide {
    height: 350px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contactRightSide {
    height: 350px;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#locationHeading {
    font-size: 1.3rem;
    font-weight: 500;
}

#location {
    color: grey;
    margin: 0;
}

#links {    
    margin-top: 1rem;
}

#contactText {
    font-weight: 500;
}

#linksContainer {
    margin-bottom: 1rem;
}

#copyright {
    margin: 0;
    font-size: 0.9rem;
}

.icon {
    margin-right: 5px;
}

#formHeading {
    font-size: 1.2rem;
    font-weight: 500;
}

.input {
    width: 100%;
    background-color: var(--input-background);
    padding: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

#textArea {
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    border: none;
    background: var(--input-background);
    margin-bottom: 1rem;
}

#submitBtn {
    /* width: 100%; */
    padding: 0.5rem;
    border: none;
    border: 1px solid black;
    background: white;
    /* font-size: 1rem; */
    cursor: pointer;
}

#submitBtn:hover{
    background-color: black;
    color: white;
    transition: all 0.2s;
}

/*------------------- footer ------------------*/
#footer {
    background-color:#474747 ;
    color: var(--text-color1);
    padding: 2rem;
}

#footerText {
    text-align: center;
    margin: 0;
    padding: 0;
}

em, #devName {
    color: orange;
}